body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(51, 48, 41);
  margin: 0;
}

.main-header {
  padding: 2rem;
  background-color: rgb(29, 25, 16);
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.main-header--logo {
  color: rgb(223, 179, 58);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu a {
  color: rgb(158, 128, 44);
  font-size: 1.25rem;
}

.menu a:hover {
  color: rgb(211, 169, 33);
}

.page-tittle {
  color: rgb(223, 179, 58);
  font-size: 3rem;
  text-align: center;
}

.latest-products {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}

.food-items {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 205, 182);
  border-radius: 6px;
  padding-bottom: 1rem;
  overflow: hidden;
}

.food-items img {
  width: 100%;
  object-fit: cover;
}

.food-items h2 {
  color: rgb(65, 58, 45);
}

.add-cart-button {
  background-color: rgb(236, 174, 17);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  margin: auto;
}

.add-cart-button:hover {
  background-color: rgb(250, 184, 16);
}

@media (max-width: 48rem) {
  .menu {
    display: none;
  }
  .page-tittle {
    font-size: 1.5rem;
  }
  .latest-products {
    grid-template-columns: 100%;
  }
}
